@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;

.golf-body {
  .form {
    margin-block-end: 5rem;
    input {
      border: 3px green solid;
    }

    .tee-box {
      border: 3px green solid;
    }
  }

  .container {
    width: 90%;
    .grid-display {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: repeat(1, 120px) 
        repeat(100, 55px);
  
      .cell {
        display: flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 1.8rem;
        border: 1px black solid;
        
        &.label {
          writing-mode: sideways-lr;
          letter-spacing: 1px;
        }
      }
    }
  }
}