@use '../abstracts/mixins' as mx;

.display {
  margin-block-start: 4.5rem;

  .catagory {
    width: min(100%, 775px);
    padding: 2rem 2rem;
    border: 1px solid #333;
    border-radius: 1rem;
    margin-block-end: 2rem;
    margin-inline: auto;
    background-color: darkgrey;

    &-header {
      position: relative;
      padding-block-end: 1rem;
      text-align: center;
    }
  }
  
}

// For both main page & modals
.player-container {
  @include mx.flexBetween;
  width: clamp(70%, 100%, 50rem);
  padding-inline: .7rem;
  padding-block: .2rem;
  margin-inline: auto;
  margin-block: .5rem;
  color: black;

  .player {
    font-weight: 700;
  }

  span {
    margin-inline-start: .5rem;

    &.pos {
      font-weight: 500;
      font-size: 1.2rem;
    }

    &.value {
      font-weight: 700;
    }
  }
}