@use '../abstracts/mixins' as mx;

// Landing Page Form
.form-container {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0;

  .form {

    .form-control {
      width: 100%;
      @include mx.flexColumn;
      text-align: left;
      margin-block: 2rem;
  
      p {
        margin-block-end: 1rem;
      }
  
      &.btn-container {
        width: min(100%, 350px);
        padding-block-start: 1.5rem;
        margin-inline: auto;
        flex-direction: row;
        justify-content: space-around;
        gap: 3rem;
  
        .submit-btn {
          flex-grow: 2;
          flex: 2 0 50px;
        }
        .clear-btn {
          flex: 1 1 50px;
        }
      }
    }
  }
}

// Modal Form
.edit-player-modal .form {
  input {
    padding-block: .5rem;
  }

  .button-container {
    @extend %flex;
    justify-content: space-evenly;
    padding-block: 1rem;

    button {
      font-family: inherit;
      font-weight: 700;
    }
  }
}