@use '../abstracts/mixins' as mx;

// iPad
@include mx.mq(810px) {
  // landing page
  
  // football page
  .header-fb {
    &-titles {
      .title {
        font-size: 5rem;
        margin-block-start: -8rem;
      }
  
      .sub-title {
        margin-block-start: 4rem;
      }
    }
  }

  .display {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    width: 90%;
  }
}

// iPad Horiz
@include mx.mq(1080px) {
  // landing page


  // football page
  .header-fb {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    &-titles {
      flex-basis: 50%;

      .title-fb {
        font-size: 5rem;
      }
      .sub-title {
        font-size: 4rem;
      }
    }
  }
}