@use '../abstracts/variables' as v;

button {
  padding: .9rem;
  color: #fefefe;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: v.$box-shadow;

  &.submit-btn {
    padding-inline: 5rem;
    background-color: v.$green-safe;
  }

  &.clear-btn {
    background-color: v.$red-danger;
  }

  &.close-btn {
    background-color: v.$closeBtn;
    text-transform: uppercase;
    font-weight: inherit;
    letter-spacing: inherit;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 15rem;
    margin-block: 1.5rem;
  }

  &.edit-btn {
    color: #000;
    font-size: 1.1rem;
    line-height: 1.4;
    padding-block: .5rem;
  }

  &.edit-player-btn, &.delete-player-btn {
    background: transparent;
    color: v.$background;
    font-size: 1.5rem;
  }

  &.update-player-btn {
    background: v.$green-safe;
    font-size: 1.5rem;
    font-weight: 700;
  }
}