@use '../abstracts/variables' as v;

button {
  padding: .9rem;
  color: #fefefe;
  border-radius: 10px;
  border: none;
  cursor: pointer;

  &.submit-btn {
    padding-inline: 5rem;
    background-color: v.$green-safe;
  }

  &.clear-btn {
    background-color: v.$red-danger;
  }

  &.close-btn {
    background-color: v.$background;
    text-transform: uppercase;
    font-weight: inherit;
    letter-spacing: inherit;
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 15rem;
  }

  &.edit-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: v.$background;
  }
}