@use '../abstracts/mixins' as mx;
@use '../abstracts/variables' as v;

// General Styles
body.modal-bg {
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 1;
  }
}
.modal {
  display: none;
  position: absolute;
  inset: 0;
  width: 100%;
  font-weight: 700;
  letter-spacing: 1.5px;
  z-index: 1;

  &.open {
    display: block;
  };
  
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 30rem;
    width: min(75%, 40rem);
    transform: translateY(35%);
    background-color: darkgrey;
    text-align: center;
    margin-inline: auto;
    border-radius: 1rem;
    
    .message {
      font-size: 2.2rem;
      margin-inline: auto;
    }
  }

  // Edit Modals
  &.edit-modal .modal-content {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 1rem;
  }

  &.edit-player-modal .modal-content {
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 2.5rem 2rem;
  }

  // Delete Warning Modal
  &.delete-all-warning {
    .modal-content {
      position: relative;
      font-size: 1.8rem;
      line-height: 1.8;
      color: black;
      padding-inline: 1rem;
      border: 4px solid v.$red-danger;

      h3 {
        font-size: 3rem;
        color: v.$red-danger;
        text-shadow: v.$box-shadow;
      }
    }
  }
}

// **NOTE: The form for the edit modal is in _forms.scss **