@use '../abstracts/variables' as v;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: v.$white;
  font-family: 'PT Sans Caption', sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

input, select {
  display: inline-block;
  width: 100%;
  font-family: inherit;
  letter-spacing: .1rem;
  max-width: 33rem;
  border: none;
  border-radius: .5rem;
}

input {
  padding-inline-start: 1rem;
  padding-block: .7rem;
}

select {
  background-color: #fefefe;
  padding-block: .8rem;
  padding-inline: .5rem;
}