.container {
  width: 80%;
  margin-inline: auto;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.secondary-font-size {
  font-size: 1.4rem;
}

.home {
  position: relative;
  color: inherit;
  padding-block-start: 1rem;
  padding-inline-start: 1rem;
}