@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as mx;

.container {
  width: 80%;
  margin-inline: auto;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.secondary-font-size {
  font-size: 1.4rem;
}

.home {
  position: relative;
  padding-block-start: 1rem;
  padding-inline-start: 1rem;
}
.golf-body .home {
  color: #010101;
}

.warning {
  color: v.$red-danger;
  font-size: 3rem;
}

.success {
  color: v.$green-safe;
}