%flex {
  display: flex;
  align-items: center;
}

@mixin flexBetween {
  @extend %flex;
  justify-content: space-between;
}

@mixin flexColumn {
  @extend %flex;
  flex-direction: column;
}

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}