$green-safe: hsl(109, 67%, 37%);
$red-danger: hsl(0, 86%, 41%);
$white: #fefefe;
$closeBtn: hsl(12, 89%, 22%);
$box-shadow: 0 3px 10px rgba(0, 0, 0, .7);

// landing
$title: hsl(0, 0%, 44%);
$card-bg: hsl(206, 27%, 31%);

// football
$football-bg: hsl(86, 28%, 33%);